{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 style="margin-bottom:20px;">Borrowers List</h2>

    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Aadhaar</th>
            </tr>
        </thead>
        <tbody>
            {% for b in borrowers %}
            <tr>
                <td>{{ b.borrower_id }}</td>
                <td>{{ b.full_name }}</td>
                <td>{{ b.email }}</td>
                <td>{{ b.phone_number }}</td>
                <td>{{ b.aadhaar_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}